body{
    background-color:#F5F5F5;
}
.name{
    border:none;
    border-bottom: 1px solid #ccc;
    background-color:#F5F5F5;
    width:300px;
    display : block;
    margin : 0 auto; 
}

p{
font-size:20px;
margin-top: 3px;
}
.fraction{
display: block;
padding: 0;
}
.top {

border-bottom: 1px solid #000;
}
.bottom {
display: inline-block;
margin-top: 2px;
}

.subjects{
text-align:left;
margin-left:235px;

}

